[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
[submodule "clks"]
	path = clks
	url = https://github.com/CLeonOS/clks
[submodule "cleonos/third-party/doomgeneric"]
	path = cleonos/third-party/doomgeneric
	url = https://github.com/CLeonOS/doom.git
[submodule "wine"]
	path = wine
	url = https://github.com/CLeonOS/wine
[submodule "kit"]
	path = kit
	url = https://github.com/CLeonOS/kit.git
