[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
[submodule "clks"]
	path = clks
	url = https://github.com/CLeonOS/clks
[submodule "cleonos/third-party/doomgeneric"]
	path = cleonos/third-party/doomgeneric
	url = https://github.com/CLeonOS/doom.git
[submodule "wine"]
	path = wine
	url = https://github.com/CLeonOS/wine
[submodule "kit"]
	path = kit
	url = https://github.com/CLeonOS/kit.git
[submodule "cleonos/third-party/litehtml"]
	path = cleonos/third-party/litehtml
	url = https://github.com/litehtml/litehtml.git
[submodule "cleonos/third-party/mbedtls"]
	path = cleonos/third-party/mbedtls
	url = https://github.com/CLeonOS/tls.git
[submodule "bdt"]
	path = bdt
	url = https://github.com/CLeonOS/bdt
[submodule "cleonos/c/pkg"]
	path = cleonos/c/pkg
	url = https://github.com/CLeonOS/pkg
[submodule "cleonos/third-party/StardustUI"]
	path = cleonos/third-party/StardustUI
	url = https://github.com/xingji-studio/StardustUI
[submodule "cleonos/third-party/lua"]
	path = cleonos/third-party/lua
	url = https://github.com/CLeonOS/lua
[submodule "cleonos/third-party/zlib"]
	path = cleonos/third-party/zlib
	url = https://github.com/CLeonOS/zlib
[submodule "cleonos/third-party/libpng"]
	path = cleonos/third-party/libpng
	url = https://github.com/CLeonOS/libpng.git
[submodule "cleonos/third-party/tinycc"]
	path = cleonos/third-party/tinycc
	url = https://github.com/TinyCC/tinycc.git
